<div id="footer-outer" data-midnight="light" data-using-widget-area="false">


    <div id="call-to-action">
        <div class="container">

            <span> STUDEREN BIJ CMD? </span>
            <a class="nectar-button regular-button  extra-color-3" data-color-override="false" href="http://www.hva.nl/onderwijs/opleidingen/opleidingen/opleidingen/content/folder/fdmci/communication-and-multimedia-design/meer-informatie/open-dag/open-dag.html" style="visibility: visible;">Kom naar onze open dag! </a>
        </div>
    </div>




    <div class="row" id="copyright">

        <div class="container">

            <div class="col span_5">

                <p>© 2019 CMD AMSTERDAM.  </p>

            </div><!--/span_5-->

            <div class="col span_7 col_last">
                <ul id="social">
                    <li><a target="_blank" href="http://twitter.com/cmdamsterdam"><i class="icon-twitter"></i> </a></li> 						 <li><a target="_blank" href="https://www.facebook.com/CMD-Amsterdam-125542707518591/"><i class="icon-facebook"></i> </a></li> 						 <li><a target="_blank" href="http://vimeo.com/cmdamsterdam"> <i class="icon-vimeo"></i> </a></li> 												 <li><a target="_blank" href="https://www.linkedin.com/groups/5051295/"><i class="icon-linkedin"></i> </a></li> 																																																																																									</ul>
            </div><!--/span_7-->

        </div><!--/container-->

    </div><!--/row-->


</div>
<script src="/js/app.js"></script>
<script>
    // add placeholder
    var imgWrapper = document.querySelectorAll('.img-with-aniamtion-wrap');
    var imgContainArr = Array.from(imgWrapper);

    console.log(imgContainArr);

    for(let i = 0; i < imgContainArr.length; i++) {

        var containerParent = imgContainArr[i].parentElement;

        var placeholder = document.createElement('div');
        placeholder.classList.add('placeholder');
        containerParent.appendChild(placeholder);
    }
</script>
    </body>
</html>