<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>CMD AMSTERDAM</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="header-outer" data-has-menu="true" data-mobile-fixed="false" data-ptnm="false" data-lhe="animated_underline" data-user-set-bg="#ffffff" data-format="default" data-permanent-transparent="false" data-cart="true" data-transparency-option="0" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="26" data-m-logo-height="24" data-padding="10" data-header-resize="0" style="padding-top: 10px;">


    <div id="search-outer" class="nectar" style="height: 46px;">

        <div id="search">

            <div class="container" style="visibility: visible; height: 46px;">

                <div id="search-box">

                    <div class="col span_12">
                        <form action="https://www.cmd-amsterdam.nl" method="GET">
                            <input type="text" name="s" id="s" value="Start Typing..." data-placeholder="Start Typing..." style="font-size: 43px; height: 59px; top: 23px;">
                        </form>
                    </div><!--/span_12-->

                </div><!--/search-box-->

                <div id="close"><a href="#" style="top: 15px;"><span class="icon-salient-x" aria-hidden="true"></span></a></div>

            </div><!--/container-->

        </div><!--/search-->

    </div><!--/search-outer-->
    <header id="top">

        <div class="container" style="visibility: visible;">

            <div class="row">

                <div class="col span_3">

                    <a id="logo" href="https://www.cmd-amsterdam.nl">

                        <img class="stnd  dark-version" alt="CMD AMSTERDAM" src="https://www.cmd-amsterdam.nl/wp-content/uploads/2015/01/cmd_hva_logo_black-1.png" style="height: 26px;">

                    </a>

                </div><!--/span_3-->

                <div class="col span_9 col_last">

                    <div class="slide-out-widget-area-toggle mobile-icon std-menu fullscreen" data-icon-animation="simple-transform">
                        <div> <a id="toggle-nav" href="#sidewidgetarea" class="closed"> <span> <i class="lines-button x2"> <i class="lines"></i> </i> </span> </a> </div>
                    </div>

                    <!--mobile cart link-->
                    <a id="mobile-cart-link" href="https://www.cmd-amsterdam.nl"><i class="icon-salient-cart"></i></a>

                    <nav>
                        <ul class="buttons" data-user-set-ocm="off">
                            <li id="search-btn" style="padding-bottom: 1px; padding-top: 1px;"><div><a href="#searchbox"><span class="icon-salient-search" aria-hidden="true"></span></a></div> </li>

                        </ul>
                        <ul class="sf-menu sf-js-enabled sf-arrows">
                            <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="https://www.cmd-amsterdam.nl/cmd/" style="padding-bottom: 13px; padding-top: 3px;">CMD</a></li>
                            <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="https://www.cmd-amsterdam.nl/studentenwerk/" style="padding-bottom: 13px; padding-top: 3px;">STUDENTENWERK</a></li>
                            <li id="menu-item-759" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-759"><a href="https://www.cmd-amsterdam.nl/samenwerken/" style="padding-bottom: 13px; padding-top: 3px;">SAMENWERKEN</a></li>
                            <li id="menu-item-7360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7360"><a href="https://www.cmd-amsterdam.nl/battery/" style="padding-bottom: 13px; padding-top: 3px;">BATTERY</a></li>
                            <li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="https://www.cmd-amsterdam.nl/nieuws/" style="padding-bottom: 13px; padding-top: 3px;">NIEUWS</a></li>
                            <li id="menu-item-152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152"><a href="https://www.cmd-amsterdam.nl/english/" style="padding-bottom: 13px; padding-top: 3px;">ENGLISH</a></li>
                            <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a href="https://www.cmd-amsterdam.nl/contact/" style="padding-bottom: 13px; padding-top: 3px;">CONTACT</a></li>
                        </ul>

                    </nav>

                </div><!--/span_9-->

            </div><!--/row-->

        </div><!--/container-->

    </header>




    <div class="ns-loading-cover"></div>


</div>