@font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: auto 500px 500px auto;
    grid-template-rows: auto auto auto auto auto;
}

ul {
list-style: none;
}

h2 {
    font-size: 48px!important;
    line-height: 48px!important;
}

li {
    text-decoration: none;
}

li a {
    color: black;
    font-family: inherit;
    font-weight: bold;
    padding-right: 10px;
    font-size: 0.9em;
}

li a:hover {
    color: black;
}

a {
    text-decoration: none;
}

/*
Globals
*********************************/

/*.d-flex {*/
    /*display: flex;*/
/*}*/

/*.justify-content-end {*/
    /*justify-content: flex-end;*/
/*}*/

/*.row {*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-wrap: wrap;*/
    /*flex-wrap: wrap;*/
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
/*}*/

/*.container {*/
    /*width: 100%;*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/

/*@media (min-width: 576px) {*/
    /*.container {*/
        /*max-width: 540px;*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.container {*/
        /*max-width: 720px;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.container {*/
        /*max-width: 960px;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*.container {*/
        /*max-width: 1140px;*/
    /*}*/
/*}*/


/*.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,*/
/*.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,*/
/*.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,*/
/*.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,*/
/*.col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,*/
/*.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,*/
/*.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,*/
/*.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,*/
/*.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,*/
/*.col-xl-auto {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
/*}*/

/*.col {*/
    /*-ms-flex-preferred-size: 0;*/
    /*flex-basis: 0;*/
    /*-ms-flex-positive: 1;*/
    /*flex-grow: 1;*/
    /*max-width: 100%;*/
/*}*/

/*.col-1 {*/
    /*-ms-flex: 0 0 8.333333%;*/
    /*flex: 0 0 8.333333%;*/
    /*max-width: 8.333333%;*/
/*}*/

/*.col-2 {*/
    /*-ms-flex: 0 0 16.666667%;*/
    /*flex: 0 0 16.666667%;*/
    /*max-width: 16.666667%;*/
/*}*/

/*.col-3 {*/
    /*-ms-flex: 0 0 25%;*/
    /*flex: 0 0 25%;*/
    /*max-width: 25%;*/
/*}*/

/*.col-4 {*/
    /*-ms-flex: 0 0 33.333333%;*/
    /*flex: 0 0 33.333333%;*/
    /*max-width: 33.333333%;*/
/*}*/

/*.col-5 {*/
    /*-ms-flex: 0 0 41.666667%;*/
    /*flex: 0 0 41.666667%;*/
    /*max-width: 41.666667%;*/
/*}*/

/*.col-6 {*/
    /*-ms-flex: 0 0 50%;*/
    /*flex: 0 0 50%;*/
    /*max-width: 50%;*/
/*}*/

/*.col-7 {*/
    /*-ms-flex: 0 0 58.333333%;*/
    /*flex: 0 0 58.333333%;*/
    /*max-width: 58.333333%;*/
/*}*/

/*.col-8 {*/
    /*-ms-flex: 0 0 66.666667%;*/
    /*flex: 0 0 66.666667%;*/
    /*max-width: 66.666667%;*/
/*}*/

/*.col-9 {*/
    /*-ms-flex: 0 0 75%;*/
    /*flex: 0 0 75%;*/
    /*max-width: 75%;*/
/*}*/

/*.col-10 {*/
    /*-ms-flex: 0 0 83.333333%;*/
    /*flex: 0 0 83.333333%;*/
    /*max-width: 83.333333%;*/
/*}*/

/*.col-11 {*/
    /*-ms-flex: 0 0 91.666667%;*/
    /*flex: 0 0 91.666667%;*/
    /*max-width: 91.666667%;*/
/*}*/

/*.col-12 {*/
    /*-ms-flex: 0 0 100%;*/
    /*flex: 0 0 100%;*/
    /*max-width: 100%;*/
/*}*/

/*@media (min-width: 576px) {*/
    /*.col-sm {*/
        /*-ms-flex-preferred-size: 0;*/
        /*flex-basis: 0;*/
        /*-ms-flex-positive: 1;*/
        /*flex-grow: 1;*/
        /*max-width: 100%;*/
    /*}*/

    /*.col-sm-auto {*/
        /*-ms-flex: 0 0 auto;*/
        /*flex: 0 0 auto;*/
        /*width: auto;*/
        /*max-width: 100%;*/
    /*}*/

    /*.col-sm-1 {*/
        /*-ms-flex: 0 0 8.333333%;*/
        /*flex: 0 0 8.333333%;*/
        /*max-width: 8.333333%;*/
    /*}*/

    /*.col-sm-2 {*/
        /*-ms-flex: 0 0 16.666667%;*/
        /*flex: 0 0 16.666667%;*/
        /*max-width: 16.666667%;*/
    /*}*/

    /*.col-sm-3 {*/
        /*-ms-flex: 0 0 25%;*/
        /*flex: 0 0 25%;*/
        /*max-width: 25%;*/
    /*}*/

    /*.col-sm-4 {*/
        /*-ms-flex: 0 0 33.333333%;*/
        /*flex: 0 0 33.333333%;*/
        /*max-width: 33.333333%;*/
    /*}*/

    /*.col-sm-5 {*/
        /*-ms-flex: 0 0 41.666667%;*/
        /*flex: 0 0 41.666667%;*/
        /*max-width: 41.666667%;*/
    /*}*/

    /*.col-sm-6 {*/
        /*-ms-flex: 0 0 50%;*/
        /*flex: 0 0 50%;*/
        /*max-width: 50%;*/
    /*}*/

    /*.col-sm-7 {*/
        /*-ms-flex: 0 0 58.333333%;*/
        /*flex: 0 0 58.333333%;*/
        /*max-width: 58.333333%;*/
    /*}*/

    /*.col-sm-8 {*/
        /*-ms-flex: 0 0 66.666667%;*/
        /*flex: 0 0 66.666667%;*/
        /*max-width: 66.666667%;*/
    /*}*/

    /*.col-sm-9 {*/
        /*-ms-flex: 0 0 75%;*/
        /*flex: 0 0 75%;*/
        /*max-width: 75%;*/
    /*}*/

    /*.col-sm-10 {*/
        /*-ms-flex: 0 0 83.333333%;*/
        /*flex: 0 0 83.333333%;*/
        /*max-width: 83.333333%;*/
    /*}*/

    /*.col-sm-11 {*/
        /*-ms-flex: 0 0 91.666667%;*/
        /*flex: 0 0 91.666667%;*/
        /*max-width: 91.666667%;*/
    /*}*/

    /*.col-sm-12 {*/
        /*-ms-flex: 0 0 100%;*/
        /*flex: 0 0 100%;*/
        /*max-width: 100%;*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.col-md {*/
        /*-ms-flex-preferred-size: 0;*/
        /*flex-basis: 0;*/
        /*-ms-flex-positive: 1;*/
        /*flex-grow: 1;*/
        /*max-width: 100%;*/
    /*}*/

    /*.col-md-auto {*/
        /*-ms-flex: 0 0 auto;*/
        /*flex: 0 0 auto;*/
        /*width: auto;*/
        /*max-width: 100%;*/
    /*}*/

    /*.col-md-1 {*/
        /*-ms-flex: 0 0 8.333333%;*/
        /*flex: 0 0 8.333333%;*/
        /*max-width: 8.333333%;*/
    /*}*/

    /*.col-md-2 {*/
        /*-ms-flex: 0 0 16.666667%;*/
        /*flex: 0 0 16.666667%;*/
        /*max-width: 16.666667%;*/
    /*}*/

    /*.col-md-3 {*/
        /*-ms-flex: 0 0 25%;*/
        /*flex: 0 0 25%;*/
        /*max-width: 25%;*/
    /*}*/

    /*.col-md-4 {*/
        /*-ms-flex: 0 0 33.333333%;*/
        /*flex: 0 0 33.333333%;*/
        /*max-width: 33.333333%;*/
    /*}*/

    /*.col-md-5 {*/
        /*-ms-flex: 0 0 41.666667%;*/
        /*flex: 0 0 41.666667%;*/
        /*max-width: 41.666667%;*/
    /*}*/

    /*.col-md-6 {*/
        /*-ms-flex: 0 0 50%;*/
        /*flex: 0 0 50%;*/
        /*max-width: 50%;*/
    /*}*/

    /*.col-md-7 {*/
        /*-ms-flex: 0 0 58.333333%;*/
        /*flex: 0 0 58.333333%;*/
        /*max-width: 58.333333%;*/
    /*}*/

    /*.col-md-8 {*/
        /*-ms-flex: 0 0 66.666667%;*/
        /*flex: 0 0 66.666667%;*/
        /*max-width: 66.666667%;*/
    /*}*/

    /*.col-md-9 {*/
        /*-ms-flex: 0 0 75%;*/
        /*flex: 0 0 75%;*/
        /*max-width: 75%;*/
    /*}*/

    /*.col-md-10 {*/
        /*-ms-flex: 0 0 83.333333%;*/
        /*flex: 0 0 83.333333%;*/
        /*max-width: 83.333333%;*/
    /*}*/

    /*.col-md-11 {*/
        /*-ms-flex: 0 0 91.666667%;*/
        /*flex: 0 0 91.666667%;*/
        /*max-width: 91.666667%;*/
    /*}*/

    /*.col-md-12 {*/
        /*-ms-flex: 0 0 100%;*/
        /*flex: 0 0 100%;*/
        /*max-width: 100%;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.col-lg {*/
        /*-ms-flex-preferred-size: 0;*/
        /*flex-basis: 0;*/
        /*-ms-flex-positive: 1;*/
        /*flex-grow: 1;*/
        /*max-width: 100%;*/
    /*}*/

    /*.col-lg-auto {*/
        /*-ms-flex: 0 0 auto;*/
        /*flex: 0 0 auto;*/
        /*width: auto;*/
        /*max-width: 100%;*/
    /*}*/

    /*.col-lg-1 {*/
        /*-ms-flex: 0 0 8.333333%;*/
        /*flex: 0 0 8.333333%;*/
        /*max-width: 8.333333%;*/
    /*}*/

    /*.col-lg-2 {*/
        /*-ms-flex: 0 0 16.666667%;*/
        /*flex: 0 0 16.666667%;*/
        /*max-width: 16.666667%;*/
    /*}*/

    /*.col-lg-3 {*/
        /*-ms-flex: 0 0 25%;*/
        /*flex: 0 0 25%;*/
        /*max-width: 25%;*/
    /*}*/

    /*.col-lg-4 {*/
        /*-ms-flex: 0 0 33.333333%;*/
        /*flex: 0 0 33.333333%;*/
        /*max-width: 33.333333%;*/
    /*}*/

    /*.col-lg-5 {*/
        /*-ms-flex: 0 0 41.666667%;*/
        /*flex: 0 0 41.666667%;*/
        /*max-width: 41.666667%;*/
    /*}*/

    /*.col-lg-6 {*/
        /*-ms-flex: 0 0 50%;*/
        /*flex: 0 0 50%;*/
        /*max-width: 50%;*/
    /*}*/

    /*.col-lg-7 {*/
        /*-ms-flex: 0 0 58.333333%;*/
        /*flex: 0 0 58.333333%;*/
        /*max-width: 58.333333%;*/
    /*}*/

    /*.col-lg-8 {*/
        /*-ms-flex: 0 0 66.666667%;*/
        /*flex: 0 0 66.666667%;*/
        /*max-width: 66.666667%;*/
    /*}*/

    /*.col-lg-9 {*/
        /*-ms-flex: 0 0 75%;*/
        /*flex: 0 0 75%;*/
        /*max-width: 75%;*/
    /*}*/

    /*.col-lg-10 {*/
        /*-ms-flex: 0 0 83.333333%;*/
        /*flex: 0 0 83.333333%;*/
        /*max-width: 83.333333%;*/
    /*}*/

    /*.col-lg-11 {*/
        /*-ms-flex: 0 0 91.666667%;*/
        /*flex: 0 0 91.666667%;*/
        /*max-width: 91.666667%;*/
    /*}*/

    /*.col-lg-12 {*/
        /*-ms-flex: 0 0 100%;*/
        /*flex: 0 0 100%;*/
        /*max-width: 100%;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*.col-xl {*/
        /*-ms-flex-preferred-size: 0;*/
        /*flex-basis: 0;*/
        /*-ms-flex-positive: 1;*/
        /*flex-grow: 1;*/
        /*max-width: 100%;*/
    /*}*/

    /*.col-xl-auto {*/
        /*-ms-flex: 0 0 auto;*/
        /*flex: 0 0 auto;*/
        /*width: auto;*/
        /*max-width: 100%;*/
    /*}*/

    /*.col-xl-1 {*/
        /*-ms-flex: 0 0 8.333333%;*/
        /*flex: 0 0 8.333333%;*/
        /*max-width: 8.333333%;*/
    /*}*/

    /*.col-xl-2 {*/
        /*-ms-flex: 0 0 16.666667%;*/
        /*flex: 0 0 16.666667%;*/
        /*max-width: 16.666667%;*/
    /*}*/

    /*.col-xl-3 {*/
        /*-ms-flex: 0 0 25%;*/
        /*flex: 0 0 25%;*/
        /*max-width: 25%;*/
    /*}*/

    /*.col-xl-4 {*/
        /*-ms-flex: 0 0 33.333333%;*/
        /*flex: 0 0 33.333333%;*/
        /*max-width: 33.333333%;*/
    /*}*/

    /*.col-xl-5 {*/
        /*-ms-flex: 0 0 41.666667%;*/
        /*flex: 0 0 41.666667%;*/
        /*max-width: 41.666667%;*/
    /*}*/

    /*.col-xl-6 {*/
        /*-ms-flex: 0 0 50%;*/
        /*flex: 0 0 50%;*/
        /*max-width: 50%;*/
    /*}*/

    /*.col-xl-7 {*/
        /*-ms-flex: 0 0 58.333333%;*/
        /*flex: 0 0 58.333333%;*/
        /*max-width: 58.333333%;*/
    /*}*/

    /*.col-xl-8 {*/
        /*-ms-flex: 0 0 66.666667%;*/
        /*flex: 0 0 66.666667%;*/
        /*max-width: 66.666667%;*/
    /*}*/

    /*.col-xl-9 {*/
        /*-ms-flex: 0 0 75%;*/
        /*flex: 0 0 75%;*/
        /*max-width: 75%;*/
    /*}*/

    /*.col-xl-10 {*/
        /*-ms-flex: 0 0 83.333333%;*/
        /*flex: 0 0 83.333333%;*/
        /*max-width: 83.333333%;*/
    /*}*/

    /*.col-xl-11 {*/
        /*-ms-flex: 0 0 91.666667%;*/
        /*flex: 0 0 91.666667%;*/
        /*max-width: 91.666667%;*/
    /*}*/

    /*.col-xl-12 {*/
        /*-ms-flex: 0 0 100%;*/
        /*flex: 0 0 100%;*/
        /*max-width: 100%;*/
    /*}*/
/*}*/


/*
Custom CSS
*/

.swiper-wrapper {
    background-image: url(https://www.cmd-amsterdam.nl/wp-content/uploads/2018/11/header-cmd-3.jpg);
    background-position: center;
    background-size: cover;
}

.swiper-slide {
    height: 400px;
    display: flex;
    align-items: flex-end;
}

.swiper-slide .container {
    margin-bottom: 130px;
    padding-left: 25px;
}

.nectar-slider-wrap,
.swiper-container {
    height: unset!important;
}

.nectar-slider-wrap {
    grid-column: 1 / 5;
    padding-top: 100px;
}

header .row {
    display: flex;
    justify-content: space-between;
}

.col.span_6 {
    grid-column: 2;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

div:first-child.col.span_6 {
    grid-row: 2 / 3;
}

/*body > .span_6 {*/
    /*grid-row: 2 / 3;*/
/*}*/

/*body > .span_6 ~ .span_6 {*/
    /*grid-row: unset;*/
/*}*/

/*body > .col.span_6.col_last {*/
    /*grid-row: 2/3;*/
/*}*/

/*body > .col.span_6.col_last ~ .col.span_6.col_last {*/
    /*grid-row: unset;*/
/*}*/

div:nth-child(7) {
    grid-row:3/4;
}

div:nth-child(8) {
    grid-row:3/4;
}

.col.span_6 img {
    width: 100%;
    height: auto;
}

.col.span_6.col_last {
    grid-column: 3;
    margin: 50px 0;
    display: flex;
    flex-direction: column
}

.nectar-dropcap {
    color: #000000;
    font-size: 26px!important;
    line-height: 26px;
    font-weight: 700!important;
}

.nectar-button.large {
    font-size: 13px;
    padding: 15px 22px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button {
    font-weight: normal;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 18px;
    position: relative;
    text-transform: uppercase;
    top: -3px;
    margin-bottom: 10px;
    opacity: 1;
    line-height: 20px;
    background-color: #27CFC3;
    display: inline-block;
    width: fit-content;
    margin-top: 25px;
}

.nectar-button.regular-button.extra-color-3, .nectar-button.tilt.extra-color-3 {
    background-color: #0a0a0a!important;
}

.nectar-button.large.see-through, .nectar-button.large.see-through-2, .nectar-button.large.see-through-3 {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: transparent!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    -o-box-shadow: none!important;
    opacity: 1!important;
    transition: all 0.2s linear!important;
    -moz-transition: all 0.2s linear!important;
    -webkit-transition: all 0.2s linear!important;
    -o-transition: all 0.2s linear!important;
    border-radius: 2px!important;
    -webkit-border-radius: 2px!important;
    -o-border-radius: 2px!important;
    color: rgb(0, 0, 0);
    border:1px solid rgba(0, 0, 0, 0.75);
}

.image-bg {
    display: none;
}

#search-box,
#search-outer {
    display: none;
}

#footer-outer {
    grid-column: 1/5;
}

#call-to-action {
    background-color: #fff021!important;
    display: flex;
    justify-content: center;
}

#call-to-action .container {
    padding: 42px 0px 36px 0px!important;
}

#call-to-action .container span {
    color: #000000!important;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 100%;
}

#social {
    display: flex;
}

#call-to-action ~ .row .col.span_5 {
    color: white;
}

#call-to-action ~ .row {
    background-color: #595959!important;
}

#call-to-action ~ .row .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sf-menu {
    display: flex;
}

.nectar-slider-wrap ~ .divider-wrap {
    display: block;
    grid-row:3/4;
    grid-column: 1/5;
    background-color: #fff021;
    z-index: -1;
}

.divider-wrap {
    display: none;
}

#header-outer {
    padding-top: 10px;
    position: absolute;
    width: 100%;
    background: white;
}


@media all and (max-width: 998px) {
    body {
        grid-template-columns: 25px auto 25px;
    }

    .col.span_6.col_last {
        grid-column: 2;
    }

    .col.span_6 {
        grid-column: 2;
    }

    .nectar-slider-wrap ~ .divider-wrap {
        grid-row: 3/5;
    }

    div:nth-child(8) {
        grid-row: 4;
    }

    .img-with-aniamtion-wrap {
        display: flex;
        justify-content: center;
    }

    .img-with-aniamtion-wrap .inner {
        width: 80%;
    }
}







